In [1]:
import pandas as pd
import numpy as np

from datetime import datetime

%matplotlib inline
pd.set_option('display.max_rows', 500)

![CRISP_DM](../reports/figures/CRISP_DM.png)

# Groupby apply on large (relational) data set

## Attentions all writen functions assume a data frame where the date is sorted!!

In [2]:
pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv',sep=';',parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()

        date    state       country  confirmed
0 2020-01-22  Alberta        Canada        0.0
1 2020-01-22       no  Korea, South        1.0
2 2020-01-22       no        Kosovo        0.0
3 2020-01-22       no        Kuwait        0.0
4 2020-01-22       no    Kyrgyzstan        0.0

# Test data

In [3]:
test_data=pd_JH_data[((pd_JH_data['country']=='US')|
                      (pd_JH_data['country']=='Germany'))&
                     (pd_JH_data['date']>'2020-03-20')]

In [4]:
test_data.head()

            date state  country  confirmed
15736 2020-03-21    no  Germany    22213.0
15776 2020-03-21    no       US    24508.0
16003 2020-03-22    no  Germany    24873.0
16043 2020-03-22    no       US    33152.0
16269 2020-03-23    no  Germany    29056.0

In [5]:
test_data.groupby(['country']).agg(np.max)

              date state  confirmed
country
Germany 2020-09-13    no   261737.0
US      2020-09-13    no  6519573.0

In [6]:
# %load ../src/features/build_features.py

import numpy as np
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True)

def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate'''

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope

In [7]:
test_data.groupby(['state','country']).agg(np.max)

                    date  confirmed
state country
no    Germany 2020-09-13   261737.0
      US      2020-09-13  6519573.0

In [8]:
# this command will only work when adapting the get_doubling_time_via_regression function

#test_data.groupby(['state','country']).apply(get_doubling_time_via_regression)

In [9]:
def rolling_reg(df_input,col='confirmed'):
    ''' input has to be a data frame'''
    ''' return is single series (mandatory for group by apply)'''
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)
    return result

In [10]:
test_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed')

state  country
no     Germany  15736            NaN
                16003            NaN
                16269       7.417994
                16535       7.142035
                16801       8.012983
                17066       6.954407
                17333       6.501919
                17598       7.390371
                17865      10.136671
                18131      13.541893
                18397      13.781393
                18663      13.140681
                18929      12.037271
                19195      12.735506
                19460      16.052694
                19727      21.372453
                19993      27.427355
                20259      27.511936
                20525      21.792179
                20791      21.495848
                21057      26.565108
                21323      36.198404
                21588      43.982990
                21855      49.423444
                22121      74.043747
                22386      56.424411
                22654      42.468318
                22919      41.525988
                23185      49.898063
                23451      75.684007
                23716      78.000000
                23983      94.526338
                24248      82.985208
                24514      62.294061
                24781      70.294338
                25047      91.536840
                25312     112.903164
                25577     140.472457
                25845     148.285092
                26110     115.116625
                26377     104.285868
                26641     128.349094
                26908     167.535921
                27175     207.816845
                27440     279.484107
                27707     247.616282
                27973     166.275622
                28239     138.835878
                28505     139.648255
                28771     179.986624
                29037     265.319391
                29303     274.642705
                29568     267.092879
                29835     227.702584
                30101     266.129559
                30366     307.670485
                30634     274.967556
                30899     309.480047
                31165     441.111389
                31430     251.099125
                31697     184.808186
                31963     287.086082
                32229     289.519806
                32495     372.170639
                32760     582.550162
                33027     587.311618
                33292     414.470948
                33559     392.008658
                33825     364.738956
                34091     260.678112
                34357     368.114804
                34623     750.711749
                34889     905.667490
                35154     783.060412
                35421     697.778621
                35687     621.103991
                35953     459.540888
                36219     378.218132
                36485     448.849072
                36751     563.792615
                37017     492.385362
                37282     902.561743
                37549    2017.005405
                37815     530.718750
                38080     649.518519
                38348    1283.130137
                38613     903.561446
                38879     511.763851
                39145     408.198120
                39410     241.394249
                39677     223.685349
                39942     446.100821
                40208     392.080164
                40475     348.336369
                40741     317.615894
                41006     348.817770
                41271     433.013094
                41539     332.061803
                41804     356.862925
                42071     591.767631
                42335     666.886986
                42602     538.071724
                42869     459.344301
                43134     411.541317
                43401     442.723036
                43667     475.320451
                43933     530.732167
                44199     456.339492
                44465     482.869919
                44731     624.783202
                44997     603.893617
                45262     628.785677
                45529     563.128060
                45795     680.249858
                46060     848.985138
                46328     745.567970
                46593     564.813146
                46859     404.289738
                47124     348.851371
                47391     413.880464
                47657     586.672464
                47923     451.231739
                48189     413.969450
                48455     428.543989
                48721     351.016037
                48987     304.271220
                49252     294.336435
                49519     394.998723
                49785     495.649081
                50050     398.388462
                50316     289.802417
                50583     228.223195
                50848     226.112610
                51113     286.140136
                51381     513.701989
                51647     382.360458
                51911     263.747512
                52178     212.804529
                52445     193.571536
                52710     206.544407
                52976     231.809013
                53243     397.061661
                53507     271.110696
                53774     194.001184
                54040     186.844463
                54305     161.177186
                54573     151.644156
                54838     202.555505
                55103     369.126096
                55371     203.795961
                55637     145.588821
                55901     151.813262
                56168     144.833544
                56435     139.237035
                56700     181.181264
                56966     319.173606
                57233     207.718414
                57497     152.843207
                57764     164.523315
                58030     160.009817
                58295     154.408858
                58563     213.643110
                58828     411.798699
                59094     247.734960
                59361     180.595818
                59627     188.636259
                59893     175.166018
                60159     173.290158
                60425     225.482717
                60691     347.436678
                60956     196.368640
                61223     156.975534
                61487     181.692436
                61755     160.722431
                62019     156.332930
                62287     194.577961
                62552     260.502498
       US       15776            NaN
                16043            NaN
                16309       3.498776
                16574       4.170293
                16841       4.924326
                17106       4.605309
                17373       4.656402
                17638       5.336576
                17905       6.228945
                18171       6.986338
                18436       6.908798
                18703       7.322692
                18969       7.727527
                19235       7.863741
                19500       8.509948
                19767      10.092081
                20033      11.758896
                20298      12.168137
                20565      12.751442
                20831      12.963331
                21097      13.596369
                21362      15.640111
                21628      18.009116
                21894      20.631256
                22161      22.247854
                22426      21.707413
                22694      21.151373
                22959      20.922412
                23225      22.969844
                23490      26.750825
                23755      28.208839
                24023      29.696372
                24289      30.180436
                24554      26.941144
                24821      24.825600
                25087      26.203105
                25367      30.987791
                25617      38.552326
                25885      42.198851
                26151      39.055345
                26417      36.527008
                26681      33.678042
                26963      34.887174
                27216      41.430446
                27480      48.294855
                27747      50.778225
                28013      48.891730
                28278      46.460248
                28545      45.810909
                28811      48.689510
                29077      57.688653
                29342      69.033107
                29608      65.942632
                29874      63.722135
                30141      57.574047
                30406      53.780625
                30674      57.497298
                30939      66.754140
                31205      73.286423
                31470      71.744801
                31737      69.435527
                32003      63.450348
                32268      64.009509
                32535      69.962594
                32800      76.467742
                33067      82.940492
                33332      88.200032
                33599      90.889959
                33865      83.166946
                34130      73.155519
                34397      71.689586
                34663      80.148813
                34929      96.512671
                35194      95.040993
                35461      89.935215
                35727      89.946323
                35992      80.728889
                36259      79.367601
                36525      95.147270
                36791     110.639314
                37056     110.405848
                37322     101.785720
                37588      91.506248
                37855      83.862856
                38120      80.535367
                38388      91.345585
                38653     106.084051
                38919      97.561367
                39184      86.811830
                39449      81.098786
                39717      73.953774
                39983      69.221131
                40248      76.137888
                40515      80.145069
                40781      70.411225
                41061      66.951119
                41311      63.738424
                41579      56.951720
                41845      56.086949
                42111      60.970129
                42375      63.432294
                42657      59.903301
                42910      54.441257
                43174      50.905167
                43441      50.878532
                43707      56.312680
                43972      59.366881
                44239      60.936367
                44505      56.034821
                44771      50.507067
                45036      50.164921
                45302      47.611543
                45568      49.745703
                45835      54.452996
                46100      55.907166
                46368      53.175990
                46633      50.933902
                46899      48.445682
                47164      48.036905
                47431      53.899199
                47697      59.114995
                47962      61.220091
                48229      60.908067
                48495      57.608109
                48761      56.865910
                49026      56.744461
                49292      58.651279
                49558      68.787751
                49825      76.044250
                50090      70.222168
                50356      63.783405
                50623      63.772056
                50889      66.526569
                51153      72.612628
                51421      87.059011
                51687     100.431094
                51951      91.685726
                52233      86.443196
                52485      85.797301
                52751      82.858790
                53017      86.422707
                53283      96.884837
                53547     104.606172
                53829     105.735503
                54081      99.879424
                54345      96.442858
                54613      90.696852
                54880      94.607140
                55143     119.145185
                55411     139.992250
                55677     135.744110
                55941     119.866789
                56223     122.243661
                56475     120.358792
                56741     120.595325
                57007     143.068603
                57273     157.391062
                57537     150.913832
                57819     140.483170
                58071     129.279778
                58335     127.392986
                58603     126.767479
                58870     144.433394
                59134     172.565218
                59401     155.889350
                59667     146.464688
                59932     160.482444
                60199     141.473918
                60465     130.557982
                60731     164.558062
                61011     225.472064
                61263     248.848116
                61527     212.427622
                61796     184.137066
                62059     153.403356
                62328     144.718219
                62594     170.777062
Name: confirmed, dtype: float64

In [11]:
pd_DR_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed').reset_index()

In [12]:
pd_DR_result=pd_DR_result.rename(columns={'confirmed':'confirmed_DR',
                             'level_2':'index'})
pd_DR_result.head()

     state country  index  confirmed_DR
0  Alberta  Canada      0           NaN
1  Alberta  Canada    465           NaN
2  Alberta  Canada    701           NaN
3  Alberta  Canada    966           NaN
4  Alberta  Canada   1263           NaN

In [13]:
pd_JH_data=pd_JH_data.reset_index()
pd_JH_data.head()

   index       date    state       country  confirmed
0      0 2020-01-22  Alberta        Canada        0.0
1      1 2020-01-22       no  Korea, South        1.0
2      2 2020-01-22       no        Kosovo        0.0
3      3 2020-01-22       no        Kuwait        0.0
4      4 2020-01-22       no    Kyrgyzstan        0.0

In [14]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','confirmed_DR']],on=['index'],how='left')
pd_result_larg.head()

   index       date    state       country  confirmed  confirmed_DR
0      0 2020-01-22  Alberta        Canada        0.0           NaN
1      1 2020-01-22       no  Korea, South        1.0           NaN
2      2 2020-01-22       no        Kosovo        0.0           NaN
3      3 2020-01-22       no        Kuwait        0.0           NaN
4      4 2020-01-22       no    Kyrgyzstan        0.0           NaN

In [15]:
#pd_result_larg[pd_result_larg['country']=='Germany']

# Filtering the data with groupby apply

In [16]:
from scipy import signal

def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function 
        it ensures that the data structure is kept'''
    window=5, 
    degree=1
    df_result=df_input
    
    filter_in=df_input[column].fillna(0) # attention with the neutral element here
    
    result=signal.savgol_filter(np.array(filter_in),
                           5, # window size used for filtering
                           1)
    df_result[column+'_filtered']=result
    return df_result

In [17]:
pd_filtered_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(savgol_filter).reset_index()

In [18]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_result[['index','confirmed_filtered']],on=['index'],how='left')
pd_result_larg.head()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered
0,0,2020-01-22,Alberta,Canada,0.0,NaN,0.0
1,1,2020-01-22,no,"Korea, South",1.0,NaN,0.8
2,2,2020-01-22,no,Kosovo,0.0,NaN,0.0
3,3,2020-01-22,no,Kuwait,0.0,NaN,0.0
4,4,2020-01-22,no,Kyrgyzstan,0.0,NaN,0.0

# Filtered doubling rate

In [19]:

pd_filtered_doubling=pd_result_larg[['state','country','confirmed_filtered']].groupby(['state','country']).apply(rolling_reg,'confirmed_filtered').reset_index()

pd_filtered_doubling=pd_filtered_doubling.rename(columns={'confirmed_filtered':'confirmed_filtered_DR',
                             'level_2':'index'})

pd_filtered_doubling.tail()

      state   country  index  confirmed_filtered_DR
62771    no  Zimbabwe  61540              57.891362
62772    no  Zimbabwe  61776              86.626761
62773    no  Zimbabwe  62072             213.982759
62774    no  Zimbabwe  62308             284.880000
62775    no  Zimbabwe  62775             301.361446

In [20]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_doubling[['index','confirmed_filtered_DR']],on=['index'],how='left')
pd_result_larg.tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
62771,62771,2020-09-13,no,Barbados,181.0,360.666667,180.6,902.000000
62772,62772,2020-09-13,no,Belarus,74173.0,380.346187,74170.2,384.099688
62773,62773,2020-09-13,no,Belgium,93455.0,96.444213,93433.4,97.997033
62774,62774,2020-09-13,no,Albania,11353.0,67.387550,11349.2,68.927295
62775,62775,2020-09-13,no,Zimbabwe,7526.0,319.333333,7528.8,301.361446

In [21]:
mask=pd_result_larg['confirmed']>100
pd_result_larg['confirmed_filtered_DR']=pd_result_larg['confirmed_filtered_DR'].where(mask, other=np.NaN)

In [22]:
pd_result_larg[pd_result_larg['country']=='Germany'].tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
61487,61487,2020-09-09,no,Germany,256433.0,181.692436,256580.0,168.922815
61755,61755,2020-09-10,no,Germany,258149.0,160.722431,258018.2,168.789051
62019,62019,2020-09-11,no,Germany,259735.0,156.332930,259374.2,184.661656
62287,62287,2020-09-12,no,Germany,260817.0,194.577961,260701.8,193.296120
62552,62552,2020-09-13,no,Germany,261737.0,260.502498,262029.4,196.370744

In [23]:
pd_result_larg.to_csv('../data/processed/COVID_final_set.csv',sep=';',index=False)